@import "header";
@import "footer";

aside{
  float: left;
  margin-left: 14px;
  padding-right: 4px;
  .contact{
    float: left;
    width: 197px;
    background-color: #ebebe8;
    border-radius: 5px;
    border: 1px solid #e5e2c4;
    .item-wrap{
      margin-top: 6px;
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: 6px;
      background-color: #FFF;
      .item{
          padding-top: 8px;
          padding-left: 12px;
          padding-bottom: 20px;
          overflow: hidden;
          img{
            float: left;
            margin-top: 8px;
          }
          .wr{
            float: left;
            margin-left: 6px;
            span{
            display: inline-block;
            font-size: 12px;
            font-family: "Verdana";
            color: rgb(14, 77, 124);
            font-weight: bold;
          }p{
            margin: 0;
            font-size: 12px;
            font-family: "Verdana";
            color: #74787b;
            a{
              text-decoration: none;
              color: rgb(14, 77, 124); 
            }
          } 
        }
      }
    }
  }
}
article{
  float: right;
  width: 77%;
  float: right;
  .title{
    h1{
      margin: 0;
      margin-left: 12px;
      font-size: 24px;
      font-family: "Myriad Pro";
      color: rgb(14, 77, 124);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
      ;
    }
    p{
      margin: 0;
      margin-top: 24px;
      margin-right: 16px;
      margin-left: 12px;
      padding-bottom: 68px;
      font-size: 12px;
      font-family: "Verdana";
      color: rgb(157, 158, 158);
      line-height: 1.5;
      text-align: left;
    }
  }
}form{
  margin-left: 38px;
  .input-wrap{
    margin-bottom: 12px;
    .l-wrap{
      float: left;
      width: 82px;
      font-size: 12px;
      font-family: "Verdana";
      color: rgb(49, 54, 57);
      font-weight: bold;
      line-height: 2.25;
      text-align: left;
    }.i-wrap{
      margin-left: 82px;
    }
  }
  input{
    margin-left: 10px;
    height: 26px;
    margin-right: 16px;
    border: 1px solid #d2caca;
    border-radius: 3px;
  }#message{
    height: 193px;
    width: 79.8%;
  }#name{
    width: 63.5%;
  }#lastname{
    width: 63.5%;
  }#email{
    width: 52.7%;
  }#phone{
    width: 24%;
  }#submit{
    margin-bottom: 220px;
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.25;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(244, 127, 17);
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(244,124,14) 0%, rgb(250,168,72) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(244,124,14) 0%, rgb(250,168,72) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(244,124,14) 0%, rgb(250,168,72) 100%);
    box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21);
  }
}
