@import "header";
@import "footer";

aside{
	.filter{
	    float: left;
	    margin-left: 16px;
	    width: 197px;
	    border-radius: 5px;
	    background-color: #ebebe8;
	    padding-bottom: 10px;
	    span{
			display: inline-block;
			margin-top: 12px;
			margin-left: 10px;
			margin-bottom: 4px;
			font-size: 12px;
  			font-family: "Verdana";
  			color: rgb(13, 64, 102);
  			font-weight: bold;
	    	}
	    	.season{
	    		height: 28px;
	    		margin-left: 10px;
	    		margin-right: 10px;
	    		margin-top: 4px;
	    		border-style: 1px solid rgb(228, 226, 226);
	  			border-radius: 2px;
	  			background-image: -moz-linear-gradient( 90deg, rgb(236,236,234) 0%, rgb(253,253,253) 100%);
	  			background-image: -webkit-linear-gradient( 90deg, rgb(236,236,234) 0%, rgb(253,253,253) 100%);
	  			background-image: -ms-linear-gradient( 90deg, rgb(236,236,234) 0%, rgb(253,253,253) 100%);
	  			box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.03);
				a{

					display: inline-block;
					height: 28px;
					width: 177px;
					font-size: 12px;
			      	font-family: "Verdana";
			      	color: #1987cb;
			      	line-height: 2.4;
			      	text-align: left;
					text-decoration: none;
					i{
						margin-left: 10px;
       					margin-right: 10px;
					}
				}a:hover{
					color: red;
					margin-left: 12px;
					transition: 0.4s ease-in;
				}
	    	}
		}
	}
	.content{
		float: right;
		width: 729px;
		height: 160px;
		margin-right: 16px;
		margin-bottom: 10px;
		border-radius: 5px;
		background-color: #ebebe8;
		border:1px solid #e5e2c4;
		.wrap{
			margin: 6px;
			overflow: hidden;
			background-color: #FFF;
			h2{
				margin: 0;
				a{
					display: inline-block;
					text-decoration: none;
					margin-left: 10px;
					font-size: 14px;
					font-family: "Verdana";
					color: rgb(25, 135, 203);
					font-weight: bold;
					text-align: left;
				}span{
					float: right;
					display:inline-block;
					margin-right: 10px;
					margin-top: 5px;
					font-size: 14px;
					font-family: "Verdana";
					color: rgb(25, 135, 203);
					font-weight: bold;
					line-height: 1.5;
				}
				b{
					text-align: right;
					color: red;
				}
			}
			.turs-item{
				img{
					float: left;
					margin-top: 10px;
					margin-left: 8px;
					margin-bottom: 8px;
					margin-right: 8px;
				}
			}.next{
				span{
					display: inline-block;
					margin-top: 8px;
					font-size: 12px;
					font-family: "Verdana";
					color: rgb(157, 158, 158);
					text-align: left;
				}
				p{
					margin: 0;
					margin-top: 20px;
					font-size: 12px;
					font-family: "Verdana";
					color: rgb(157, 158, 158);
					text-align: left;

				}button{
					display: inline-block;
					float: left;
					margin-top: 12px;
					color: #fff;
					font-family: "Myriad Pro";
					font-size: 18px;
					cursor: pointer;
					border-radius: 5px;
					border-style: solid;
	  				border-width: 1px;
	 				border-color: rgb(244, 127, 17);
	  				border-radius: 5px;
	  				background-image: linear-gradient( 90deg, rgb(244,124,14)
	  			 0%, rgb(250,168,72) 100%);
	  				box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21);
				}
			}
		}
	}.pagination{
		float: left;
		margin-left: 230px;
		a{
			text-decoration: none;
		    display: inline-block;
		    width: 20px;
		    height: 20px;
		    border: 1px solid #e4e2e2;
		    font-size: 14px;
		    font-family: "Verdana";
		    color: #1987cb;
		    font-weight: bold;
		    text-align: center;
		    -webkit-border-radius: 2px;
		    border-radius: 2px;
		    background-image: -webkit-linear-gradient(90deg, #ececea 0%, #fdfdfd 100%);
		    background-image: -ms-linear-gradient(90deg, #ececea 0%, #fdfdfd 100%);
		    -webkit-box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.03);
		    box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.03);
		}a:hover{
			background-image: linear-gradient( 90deg, rgb(244,124,14)
	  		 0%, rgb(250,168,72) 100%);
	  		box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21);
	  		-webkit-box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.03);
		    box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.03);
		}
	}
